{% extends "base.html" %}
{% load static %}
{% block title %}Avanti_services{% endblock title %}
{% block content %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Services</h1>
        <nav class="breadcrumbs">
          <ol>
            <li> <a href="{% url 'index' %}">Home</a> </li>
            <li class="current">Services</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    {% comment %} <!-- Services Section -->
    <section id="services" class="services section light-background">

      <div class="container">
        <image
            width="1400" 
            height="400" 
            frameborder="0" 
            style="border:0"
            src="{% static "salad.jpeg" %}"
            allowfullscreen>
           </image>

      </div>

    </section><!-- /Services Section --> {% endcomment %}

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>{{service.service_description}} </p>
       
      </div><!-- End Section Title -->

    </section><!-- /Features Section -->
<section>
  <div class="container">
    <div class="row align-items-center">  <!-- Added align-items-center -->
      <!-- Image Column - adjusted to col-lg-6 -->
      <div class="col-lg-6 about-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'salad.jpeg' %}" class="img-fluid rounded" alt="Sourcing Solutions">  <!-- Fixed img tag and added responsive classes -->
      </div>

      <!-- Text Column - adjusted to col-lg-6 -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="container" data-aos="fade-up">
        <h2>Sourcing Solutions</h2>
          <p>Our combined sourcing and consultancy services offer a holistic approach to meet the diverse needs of our clients. </p>
          <ul class="list-unstyled">  <!-- Added list-unstyled for cleaner bullets -->
            {% for  s in sour_solutions %}
            <li class="mb-2"><i class="bi bi-check-circle text-success me-2"></i>{{s.name}}</li>
            {% endfor %}
          </ul>
       
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services section light-background">
      <div class="container">
        <div class="row gy-4">        
          {% for s in sour_solutions  %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bi bi-easel"></i>
              </div>
              <h3>{{s.name}}</h3>
           
              <p>{{s.description}}</p>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}

        </div>

      </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">  <!-- Added align-items-center -->
    

      <!-- Text Column - adjusted to col-lg-6 -->
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="container" data-aos="fade-up">
        <h2>Consultancy Services</h2>
          <p>Our combined sourcing and consultancy services offer a holistic approach to meet the diverse needs of our clients. </p>
          <ul class="list-unstyled">  <!-- Added list-unstyled for cleaner bullets -->
            {% for  s in cons_services %}
            <li class="mb-2"><i class="bi bi-check-circle text-success me-2"></i>{{s.name}}</li>
            {% endfor %}
          </ul>
       
        </div>
      </div>

        <!-- Image Column - adjusted to col-lg-6 -->
      <div class="col-lg-6 about-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'main2.jpg' %}" class="img-fluid rounded" alt="Sourcing Solutions">  <!-- Fixed img tag and added responsive classes -->
      </div>
    </div>
  </div>
</section>
<section id="services" class="services section light-background">
      <div class="container">
        <div class="row gy-4">        
          {% for s in cons_services  %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-indigo position-relative">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>

               <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>{{s.name}}</h3>
           
              <p>{{s.description}}</p>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}

        </div>

      </div>
</section>


  </main>

 
{% endblock content %}